@import "../../../../assets/variables.scss";
main {
  min-width: 15vw;
  max-width: 15vw;
  height: 100vh;
  min-height: 100vh;
  padding-top: 1em;
  color: white;
  padding-left: 0.8em;
  border-left: rgb(255, 255, 255) 0.2em solid;

  p.title {
    margin: 0;
    font-weight: 1000;
    font-size: 1.3em;
    width: 100%;
  }

  .notes {
    width: 100%;
    img {
      width: 90%;
      filter: brightness(110%);
    }
    ul {
      padding: 0;
      list-style-type: none;
      margin-top: 2em;
      li {
        margin-left: -10%;
        width: 110%;
        margin-top: 1em;
        display: flex;
        justify-content: center;
        align-items: center;
        img {
          width: 30px;
          filter: hue-rotate(200deg) contrast(200%);
        }
        span {
          display: block;
          z-index: 30;

          background: $lblue;

          padding: 0.6em;
          padding-left: 2em;
          padding-right: 0;
          line-height: 1.4em;
          font-size: 1.1em;
          width: 100%;
          transition: all 0.15s;
          @include borderRadius(0.2em);
          &:hover {
            cursor: pointer;
            transform: scale(0.96);
          }
          &.on {
            background: $dblue;
          }
        }
      }
    }
  }
}
