@import "../../../../assets/variables.scss";

@mixin borderRadLeft($t) {
  border-bottom-left-radius: $t;
  -ms-border-left-radius: $t;
  -moz-border-left-radius: $t;
  -webkit-border-left-radius: $t;
  border-top-left-radius: $t;
  -ms-border-top-left-radius: $t;
  -moz-border-top-left-radius: $t;
  -webkit-border-top-left-radius: $t;
}
main {
  min-width: 15.7vw;
  max-width: 15.7vw;
  height: 100vh;
  min-height: 100vh;
  padding-top: 1em;
  color: white;
  box-shadow: inset 0 0 0.3em 0em black;

  p {
    font-weight: 600;
    font-size: 1.3em;
    background: rgb(247, 243, 243);
    text-align: right;
    padding: 0.5em 1.4em 0.5em 2em;
    margin-top: 0.4em;
    color: black;
    margin-left: 2.8em;
    @include borderRadLeft(2em);
    box-shadow: rgb(26, 25, 25) 0em 0em 0.6em 0.05em;
  }

  .notes {
    width: 100%;
    img {
      width: 90%;
      filter: brightness(110%);
    }
    ul {
      padding: 0;
      list-style-type: none;
      margin-top: 2em;
      li {
        width: 91%;
        margin-left: 10%;
        margin-top: 1em;
        display: flex;
        justify-content: center;
        align-items: center;

        img {
          width: 30px;
          filter: hue-rotate(200deg) contrast(200%);
        }
        span {
          display: block;
          z-index: 30;
          box-shadow: rgb(63, 62, 62) 0em 0em 0.2em 0.03em;
          background: $orange;
          text-align: right;
          padding: 0.6em;
          padding-right: 0.9em;
          line-height: 1.4em;
          font-size: 1.1em;
          width: calc(100% - 1.2em);
          transition: all 0.15s;
          @include borderRadLeft(2em);

          &:hover {
            cursor: pointer;
            transform: scale(0.96);
          }
          &.on {
            background: $dorange;
          }
        }
      }
    }
  }
}
