@import "../../../../assets/variables";
main {
  min-width: calc(84.3vw - 7.2em);
  max-width: calc(84.3vw - 7.2em);
  height: 100vh;
  min-height: 100vh;
  padding-left: 2em;
  color: white;
  .title {
    margin-top: 1em;
    margin-left: 1.2em;
    padding-left: 1.3em;
    display: flex;
    align-items: center;
    background: $orange;
    box-shadow: rgb(26, 25, 25) 0em 0.1em 0.7em -0.1em;
    @include borderRadius(0.2em);
    width: 30%;

    img {
      width: 28px;
      filter: brightness(110%);
      cursor: pointer;
    }
    p {
      margin: 0.7em;

      font-size: 1.5em;
      font-weight: 500;

      margin-left: 0.7em;
    }
  }
  .menu {
    position: absolute;
    right: 17.1vw;
    top: 1em;

    padding: 0.6em;
    padding-right: 1.8em;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    background: rgb(241, 238, 238);
    box-shadow: rgb(26, 25, 25) 0em 0.13em 0.9em 0.06em;
    @include borderRadius(0.2em);
    img {
      width: 32px;
      margin-left: 0.7em;
      transition: all 0.15s;
      filter: brightness(10%);
      &:hover {
        cursor: pointer;
        transform: scale(0.94);
      }
    }
    img:nth-child(2) {
      margin-left: 0.2em;
    }
    img:nth-child(5) {
      width: 28px;
      height: 28px;
    }
  }
  .content {
    padding: 2em;
    font-size: 1.1em;
    line-height: 1.6em;
    font-weight: 400;
    ul {
      list-style-type: disc;
    }
    .checkboxCard {
      background: transparent !important;
      color: white !important;
      box-shadow: none !important;
      mat-card-content {
        padding-bottom: 0.5em;
        section {
          margin-top: 0.5em;
        }
      }
    }
  }
  .noteInfo {
    font-size: 0.94em;
    font-weight: 700;
    letter-spacing: 0.03em;
    position: absolute;
    bottom: 1.7em;
    left: 8vw;
  }
  .bot {
    top: calc(100vh - 1.4em - 40px);
    background: transparent;
    box-shadow: none;
    right: 16vw;

    .file {
      display: flex;
      align-items: center;
      transition: all 0.15s;
      img {
        filter: brightness(100%);
      }
      &:hover {
        transform: scale(0.93);
        cursor: pointer;
      }
    }
  }
}

@media only screen and (max-width: 1600px) {
  main {
    font-size: 0.8em;
    .menu {
      img {
        width: 29px;
        margin-left: 0.6em;
        transition: all 0.15s;
        filter: brightness(10%);
        &:hover {
          cursor: pointer;
          transform: scale(0.94);
        }
      }
      img:nth-child(2) {
        margin-left: 0.2em;
      }
      img:nth-child(5) {
        width: 25px;
        height: 25px;
      }
    }
  }
}
img.off {
  opacity: 0.4;
}
::ng-deep .mat-checkbox-frame {
  border-color: white !important;
}
