<main>
  <div class="title">
    <img src="assets/note-icon.png" />
    <p>Note 1</p>
  </div>
  <div class="content">
    <p>This is my first note.</p>
    <p>
      Placing assured be if removed it besides on. Far shed each high read are
      men over day. Afraid we praise lively he suffer family estate is. Ample
      order up in of in ready. Timed blind had now those ought set often which.
      Or snug dull he show more true wish. No at many deny away miss evil. On in
      so indeed spirit an mother. Amounted old strictly but marianne admitted.
      People former is remove remain as.
    </p>
    <p>
      She who arrival end how fertile enabled. Brother she add yet see minuter
      natural smiling article painted. Themselves at dispatched interested
      insensible am be prosperous reasonably it. In either so spring wished.
      Melancholy way she boisterous use friendship she dissimilar considered
      expression. Sex quick arose mrs lived. Mr things do plenty others an
      vanity myself waited to. Always parish tastes at as mr father dining at.
    </p>
    <br /><br />
    <p>
      Gay one the what walk then she. Demesne mention promise you justice
      arrived way. Or increasing to in especially inquietude companions
      acceptance admiration. Outweigh it families distance wandered ye an. Mr
      unsatiable at literature connection favourable. We neglected mr perfectly
      continual dependent.
    </p>
    <ul>
      <li>One</li>
      <li>One</li>
      <li>One</li>
      <li>One</li>
    </ul>
  </div>
</main>
