@import "../../assets/variables";
main {
  width: 90%;
  height: 93vh;
  margin-top: 7vh;
  background: $dark;
  display: flex;
  margin-left: 10%;
  overflow-y: hidden;
  app-main-menu {
    flex: 1;
  }
  aside {
    flex: 1;
    margin-top: 2vh;
    z-index: 2;
    position: relative;
    h1 {
      z-index: 20;
      position: absolute;
      left: 2%;
      top: 57%;
      color: $orange;
      font-size: 1.3em;
    }

    img:first-child {
      position: absolute;
      top: 140px;
      left: 284px;
      width: 280px;
      z-index: 10;
      float: left;
    }
    img:nth-child(2) {
      width: 100%;
      margin-left: -20%;

      @include borderRadius(0.6em);
      box-shadow: 0em 0.1em 1em -0.2em rgb(192, 192, 192);
    }
  }
  .design {
    position: absolute;
    top: 50vh;
    left: 0;
    height: 150vh;
    overflow: hidden;
    width: 100%;
    z-index: 0;
    .dec1,
    .dec2,
    .dec3 {
      width: 150%;
      height: 130vh;
      @include borderRadius(10em);
      position: absolute;
      top: 50vh;
      left: -20vw;
      transform: rotate(-10deg);

      background: linear-gradient(
        to top,
        rgba(202, 103, 2, 0.938),
        rgba(202, 103, 2, 0.438)
      );
      overflow: hidden;
    }
    .dec2 {
      top: 40vh;
    }
    .dec3 {
      top: 34vh;
    }
    .blueColoring {
      background: linear-gradient(
        to top,
        transparent 10%,
        rgba(10, 117, 150, 0.438)
      );
    }
    .redColoring {
      background: linear-gradient(
        to top,
        rgba(155, 34, 38, 0.938),
        rgba(155, 34, 38, 0.438)
      );
    }
  }
}

.hide {
  display: none;
}
