@import "../../../../assets/variables";
button {
  margin-top: 1em;
  color: white;
  background: none;
  border: none;
  background-color: $orange;
  padding: 0.8em 1.8em;

  font-family: "Raleway", "Courier New", Courier, monospace;
  font-size: 1.2em;
  @include borderRadius(0.25em);
  border-bottom: 0.24em solid $dorange;
  position: relative;
  transition: all 0.13s;
  z-index: 11;

  &:hover {
    cursor: pointer;
    background-color: $dorange;
  }
}
.second {
  background-color: transparent;
  border-top: 0.12em solid rgb(153, 153, 153);
  border-left: 0.13em solid rgb(180, 180, 180);
  border-right: 0.13em solid rgb(180, 180, 180);
  border-bottom: 0.17em solid white;
  margin-left: 2em;
  &:hover {
    background-color: rgba(39, 34, 18, 0.829);
    cursor: pointer;
  }
}
.blue,
.red {
  background-color: rgb(10, 117, 150);
  border-bottom: 0.25em solid rgb(5, 65, 83);
  padding: 0.7em 3em;
  &:hover {
    background-color: rgb(7, 94, 121);
  }
}
.red {
  background-color: rgb(155, 34, 38);
  border-bottom: 0.25em solid rgb(122, 22, 25);
  &:hover {
    background-color: rgb(172, 42, 46);
  }
}
