<div class="column" [hidden]="mode == 3">
  <h2>SIGN UP</h2>
  <span>
    <input
      class="over"
      [ngClass]="{
        incorrect_email: !correctEmail && emailValue,
        correct_email: correctEmail && emailValue
      }"
      (input)="emailValidator()"
      type="text"
      placeholder="E-mail"
      id="email"
      autocomplete="off"
      [(ngModel)]="emailValue"
    />
    <label for="state" class="lab1">Email</label>
  </span>
  <span>
    <input
      class="over"
      type="text"
      placeholder="Login"
      id="login"
      autocomplete="off"
      [(ngModel)]="loginValue"
    />
    <label for="state" class="lab1">Login</label>
  </span>
  <span>
    <input
      class="over"
      type="password"
      placeholder="Password"
      id="pass"
      autocomplete="off"
      [(ngModel)]="passValue"
    />
    <label for="state" class="lab1">Password</label>
  </span>
  <span>
    <input
      class="over"
      type="password"
      placeholder="Repeat Password"
      id="passr"
      autocomplete="off"
      [(ngModel)]="passRepeatValue"
    />
    <label for="state" class="lab1"> Repeat Password</label>
  </span>
</div>
<div class="column" [hidden]="mode == 2">
  <h2>SIGN IN</h2>
  <span>
    <input
      class="over red"
      type="text "
      placeholder="Login"
      id="emaill"
      autocomplete="off"
      [(ngModel)]="signInLogin"
    />
    <label for="state" class="lab1 red">Login</label>
    <label for="state" class="alert red" [hidden]="!this.alerts.siLogin">{{
      this.alerts.siLoginValue
    }}</label>
  </span>
  <span>
    <input
      class="over red"
      type="password"
      placeholder="Password"
      id="loginn"
      autocomplete="off"
      [(ngModel)]="signInPass"
    />
    <label for="state" class="lab1 red">Password</label>
    <label for="state" class="alert red" [hidden]="!this.alerts.siPass">{{
      this.alerts.siPassValue
    }}</label>
  </span>
</div>
<app-mainbutton content="Sign up" [hidden]="mode == 3"></app-mainbutton>
<app-mainbutton
  content="Sign in"
  [hidden]="mode == 2"
  (click)="login()"
></app-mainbutton>
