.column {
  display: flex;
  flex-direction: column;
  align-items: center;
  z-index: 13;
  margin-top: 3vh;
  h2 {
    color: white;
    text-align: left;
    width: 97%;
    margin-left: 3%;
  }
  span {
    position: relative;
    display: inline-block;
    margin: 25px 10px;
    z-index: 13;
    .over {
      z-index: 13;
      display: inline-block;
      width: 370px;
      padding: 12px 0 12px 15px;
      font-family: "Raleway", sans;
      font-weight: 600;
      color: #377d6a;
      font-size: 1em;
      background: #efefef;
      border: 0;
      border-radius: 3px;
      outline: 0;
      text-indent: 60px; // Arbitrary.
      &.pn {
        text-indent: 100px;
      }
      &.pr {
        text-indent: 160px;
      }
      transition: all 0.3s ease-in-out;
      &::-webkit-input-placeholder {
        color: #efefef;
        text-indent: 0;
      }

      ~ .lab1,
      ~ .alert {
        z-index: 13;
        display: inline-block;
        position: absolute;
        pointer-events: none;
        top: 7px;
        left: 0;
        bottom: 8px;
        padding: 5px 15px;
        color: #02161a;
        font-size: 1em;
        font-weight: 700;
        text-transform: uppercase;
        text-shadow: 0 1px 0 rgba(19, 74, 70, 0);
        transition: all 0.3s ease-in-out;
        border-radius: 3px;
        background: rgba(122, 184, 147, 0);

        &:after {
          z-index: 13;
          position: absolute;
          content: "";
          width: 0;
          height: 0;
          top: 100%;
          left: 50%;
          margin-left: -3px;
          border-left: 3px solid transparent;
          border-right: 3px solid transparent;
          border-top: 3px solid rgba(122, 184, 147, 0);
          transition: all 0.3s ease-in-out;
        }
      }
      ~ .alert {
        text-transform: none;
        left: auto;
        right: 0 !important;
        color: #fff;
        text-shadow: 0 1px 0 rgba(19, 74, 70, 0.4);
        background: rgba(10, 117, 150, 1);
        transform: translateY(-40px);

        &:after {
          border-top: 4px solid rgb(16, 134, 170);
        }
        &.red {
          text-shadow: 0 1px 0 rgba(155, 34, 38, 0.4) !important;
          background: rgb(199, 52, 57) !important;
          &:after {
            border-top: 4px solid rgba(155, 34, 38, 1) !important;
          }
        }
      }
    }

    .over:focus,
    .over:active {
      color: #0b2e26;
      text-indent: 0;
      background: #fff;

      &::-webkit-input-placeholder {
        color: #aaa;
      }

      ~ .lab1 {
        color: #fff;
        text-shadow: 0 1px 0 rgba(19, 74, 70, 0.4);
        background: rgba(10, 117, 150, 1);
        transform: translateY(-40px);

        &:after {
          border-top: 4px solid rgba(10, 117, 150, 1);
        }
        &.red {
          text-shadow: 0 1px 0 rgba(155, 34, 38, 0.4) !important;
          background: rgba(155, 34, 38, 1) !important;
          &:after {
            border-top: 4px solid rgba(155, 34, 38, 1) !important;
          }
        }
      }
    }
  }
}
app-mainbutton {
  margin-left: 2.3%;
}

input.incorrect_email {
  border-bottom: rgb(195, 34, 38) 0.3em solid !important;
  ~ .lab1,
  ~ .alert {
    bottom: 12px !important;
  }
}
input.correct_email {
  border-bottom: rgb(93, 195, 34) 0.3em solid !important;
  ~ .lab1,
  ~ .alert {
    bottom: 12px !important;
  }
}
[hidden] {
  display: none !important;
}
