@import "../../../assets/variables.scss";

main {
  max-height: 100vh;
  height: 100vh;
  background-color: rgb(69, 70, 73);
  .rowflex {
    display: flex;
  }
  app-editor {
    z-index: 33;
    height: 100vh;
    background-color: rgb(61, 62, 66);
    margin-left: 5.5em;
  }
}
