<div class="hide">
  <img
    src="assets/hamburger.png"
    class="open_m"
    (click)="openMenu()"
    [hidden]="menuOpen"
  />
  <img
    src="assets/close.png"
    class="open_m x"
    [hidden]="!menuOpen"
    (click)="openMenu()"
  />
  <nav id="botNav">
    <ul class="main">
      <li>
        <img src="assets/notes.png" />
      </li>
      <li><img src="assets/calendar.png" /></li>
      <li><img src="assets/task-list.png" /></li>
    </ul>
    <ul class="lo">
      <li class="logout" (click)="logout()">
        LOG <br />OUT<img src="assets/out.png" />
      </li>
    </ul>
  </nav>
</div>
