<main id="menu">
  <div class="colors">
    <div class="orange"></div>
    <div class="red"></div>
    <div class="blue"></div>
  </div>
  <p>PLANDEMIC</p>
  <ul class="first">
    <li><img src="assets/search.png" />Search...</li>
    <li><img src="assets/resent.png" />Resent notes</li>
    <li (click)="openCreateNote()">
      <img src="assets/add-note.png" />New note
    </li>
    <li class="n"><img src="assets/create-folder.png" />Create folder</li>
  </ul>
  <p>STORAGE</p>
  <ul class="folders">
    <li *ngFor="let folder of folders; index as i" (click)="switchFolder(i)">
      <img class="arr" src="assets/up-arrow.png" [hidden]="!folder.open" /><img
        class="arr"
        src="assets/down-arrow.png"
        [hidden]="folder.open"
      />
      <img src="assets/folder.png" />
      {{ folder.title }}
      <ul class="f1" [hidden]="!folder.open">
        <li *ngFor="let note of folder.notes">
          <img [src]="getSrcOfNote(note)" /> {{ note.title }}
        </li>
      </ul>
    </li>
    <div cdkDropList (cdkDropListDropped)="drop($event)">
      <li
        class="note"
        *ngFor="let note of notesWithNoFolder"
        (click)="openNote(note)"
        draggable="false"
        cdkDrag
      >
        <img [src]="getSrcOfNote(note)" /> {{ note.title }}
        <img src="assets/move.png" class="drag" cdkDragHandle />
      </li>
    </div>
  </ul>
  <p>SMART FEATURES</p>
  <ul>
    <li>
      <img src="assets/repeat.png" />
      Review
    </li>
  </ul>
</main>
