@import "../../../../assets/variables.scss";
main {
  min-width: 15vw;
  width: 15vw;
  height: 100vh;
  max-height: 100vh;
  position: absolute;
  top: 0;
  left: 8.3vh;
  background-color: $orange;
  //border-right: $dorange solid 0.2em;
  border-top-left-radius: 3.2em;
  border-bottom-left-radius: 3em;
  box-shadow: inset 0.1em 0 0.3em 0em $dorange,
    1em 0em 0.7em -0.5em rgb(58, 57, 57);
  z-index: 34;
  padding-left: 1.3em;
  .colors {
    display: flex;
    height: 1.8em;
    margin-top: 0.8em;
    div {
      width: 1.8em;
      height: 100%;
      margin-left: 1em;
      @include borderRadius(0.6em);
      &.blue {
        background-color: rgb(7, 63, 80);
      }
      &.red {
        background-color: rgb(122, 22, 25);
      }
      &.orange {
        background-color: $dorange;
      }
    }
  }
  p {
    margin: 0;
    padding: 0;
    color: white;
    font-size: 0.95em;
    font-weight: 500;
    letter-spacing: 0.1em;
    margin-top: 2.5em;
    padding-left: 1em;
    display: flex;
    align-items: center;
    img {
      width: 40px;
      filter: hue-rotate(40deg) brightness(90%);
    }
  }
  p:first-of-type {
    margin-top: 2em;
  }
  ul {
    list-style-type: none;
    padding-left: 1em;
    &.first {
      line-height: 2em;
      font-weight: 600;
      letter-spacing: 0.03em;
    }
    li {
      cursor: pointer;
      color: white;
      display: flex;
      align-items: center;
      margin: 0;
      padding: 0;
      margin-top: 0.4em;
      flex-wrap: wrap;
      &.n {
        margin-top: 0.7em;
      }

      img {
        width: 27px;
        margin-right: 10px;
        &.arr {
          width: 20px;
          margin-right: 5px;
        }
      }
      ul {
        width: 100%;
        padding-left: 0.1em;
        font-size: 0.95em;
        li {
          margin-top: 0.5em;
          z-index: 30;
          img {
            width: 20px;
            filter: brightness(110%);
          }
        }
      }
    }
  }
}
