@import "../../../../assets/variables.scss";
main {
  min-width: 15vw;
  width: 15vw;
  height: 100vh;
  max-height: 100vh;
  position: absolute;
  top: 0;
  left: 5em;
  background-color: $orange;
  //border-right: $dorange solid 0.2em;

  box-shadow: 0.6em 0em 0.7em -0.5em rgb(58, 57, 57);
  z-index: 34;

  .colors {
    display: flex;
    height: 1.8em;
    margin-top: 0.8em;
    margin-left: 0.8em;
    div {
      width: 1.8em;
      height: 100%;
      margin-left: 1em;
      @include borderRadius(0.6em);
      &.blue {
        background-color: rgb(7, 63, 80);
      }
      &.red {
        background-color: rgb(122, 22, 25);
      }
      &.orange {
        background-color: $dorange;
      }
    }
  }
  p {
    margin: 0;
    padding: 0;
    color: white;
    font-size: 0.95em;
    font-weight: 500;
    letter-spacing: 0.1em;
    margin-top: 2.5em;
    padding-left: 2em;
    display: flex;
    align-items: center;
    img {
      width: 40px;
      filter: hue-rotate(40deg) brightness(90%);
    }
  }
  p:first-of-type {
    margin-top: 2em;
  }
  ul {
    list-style-type: none;
    padding: 0em;
    &.first {
      line-height: 2em;
      font-weight: 600;
      letter-spacing: 0.03em;
      li {
        padding: 0.35em 0.7em 0.1em 2em;
        img {
          transition: all 0.15s;
        }
        &:hover {
          font-size: 0.98em;
          img {
            transform: scale(0.94);
          }
        }
        &.n {
          margin-top: 0.3em;
          margin-left: 0.4em;
          img {
            margin: 0;
            width: 24px;
            margin-right: 0.7em;
          }
        }
      }
    }
    li {
      cursor: pointer;
      color: white;
      display: flex;
      align-items: center;
      margin: 0;
      padding: 0.3em 0.5em 0.3em 2em;

      flex-wrap: wrap;
      &.note {
        padding: 0.34em 0.5em 0.34em 2em;
        position: relative;
        &:hover {
          background: $dorange;
        }
        img.drag {
          position: absolute;
          top: 0.34em;
          right: 0;
        }
      }

      img {
        width: 27px;
        margin-right: 10px;
        &.arr {
          width: 20px;
          margin-right: 5px;
        }
      }
      ul {
        width: 100%;
        padding-left: 0.1em;
        font-size: 0.95em;
        li {
          margin-top: 0.5em;
          z-index: 30;
          img {
            width: 20px;
            filter: brightness(110%);
          }
        }
      }
    }
  }
}

.cdk-drag-preview {
  box-sizing: border-box;
  box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.1),
    0 8px 10px 1px rgba(0, 0, 0, 0.14), 0 3px 16px 2px rgba(0, 0, 0, 0.02);

  img {
    display: none;
  }
  color: transparent;
}

@media only screen and (max-width: 1600px) {
  main {
    font-size: 0.8em;
    left: 5.5em;
  }
}
