$dark: linear-gradient(to top right, #000510, #000206);
$vdark: #000206;
$dorange: #bb3e03;
$orange: #ca6702;
$lightorange: #ee9b00;
$dblue: rgb(3, 82, 105);
$blue: rgb(7, 94, 121);
$lblue: rgb(10, 117, 150);
$red: rgb(122, 22, 25);
$lred: rgb(172, 42, 46);
$dred: rgb(105, 15, 18);
@mixin borderRadius($b) {
  border-radius: $b;
  -ms-border-radius: $b;
  -moz-border-radius: $b;
  -webkit-border-radius: $b;
}

@mixin borderTopRadius($b) {
  border-top-left-radius: $b;
  -ms-border-top-left-radius: $b;
  -moz-border-top-left-radius: $b;
  -webkit-border-top-left-radius: $b;
  border-top-right-radius: $b;
  -ms-border-top-right-radius: $b;
  -moz-border-top-right-radius: $b;
  -webkit-border-top-right-radius: $b;
}

@mixin scrollbars(
  $size,
  $foreground-color,
  $background-color: mix($foreground-color, white, 50%)
) {
  // For Google Chrome
  &::-webkit-scrollbar {
    width: $size;
    height: $size;
  }

  &::-webkit-scrollbar-thumb {
    background: $foreground-color;
  }

  &::-webkit-scrollbar-track {
    background: $background-color;
  }

  // For Internet Explorer
  & {
    scrollbar-face-color: $foreground-color;
    scrollbar-track-color: $background-color;
  }
}
