@import "../../assets/variables";
nav {
  width: 100%;
  height: 7vh;
  background-color: $vdark;
}
@import "../../assets/variables";

nav {
  min-height: 7vh;
  color: white;
  letter-spacing: 0.06em;
  background: $vdark;
  box-shadow: 0.1em 0.1em 0.1em black;
  display: flex;
  .logo {
    margin-left: 3%;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    cursor: pointer;
    img {
      width: 25px;
      margin-right: 0.8em;
      margin-left: -0.5em;
      margin-top: -0.15em;
    }
  }
  ul {
    flex: 1;
    list-style-type: none;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin-right: 3%;
    li {
      width: 160px;
      height: 4vh;
      display: flex;
      align-items: center;
      justify-content: center;
      @include borderRadius(0.2em);

      transition: all 0.2s;
      &:hover {
        background-color: #ca6702c4;
        cursor: pointer;
      }
      &.blueColoring {
        &:hover {
          background-color: rgba(10, 117, 150, 198);
          cursor: pointer;
        }
      }
      &.redColoring {
        &:hover {
          background-color: rgba(155, 34, 38, 198);
          cursor: pointer;
        }
      }
    }
  }
}
